*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  display: 1;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #D9CDF7;
  
}

.codigo {
  font-family: 'lato';
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  margin: 0 0 10px 0;
}

.valor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  opacity: 0.67px;
  padding: 0;
  margin: 10px 0 0 0;
}

.adc {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-top: 20px;
  border: 0.5px solid #271A45;
  border-radius: 999px;
  background-color: #D9CDF7;
}


#girar, #x {
  background-color: #D9CDF7;
  position: absolute;
  border: 0;
  left: 52%;
  top: 34%;
}

#girar:hover {
  color: #fff;
  cursor: pointer;
}


#x:hover {
  color: #fff;
  cursor: pointer;
}

#x {
  display: none;
}

#x.show {
  display: flex;
}

